#  Ambientes virtuais e Variáveis de Ambiente
venv/
.env

# Dependências do Frontend (Node/React)
node_modules/
npm-debug.log*
yarn-error.log*

# Banco de Dados Local
*.db
*.sqlite3

# Arquivos de cache e compilação Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Dependências / builds Python
build/
dist/
*.egg-info/
*.egg

# Configurações de IDEs
.vscode/
.idea/

# Logs
*.log

# Testes e relatórios temporários
.pytest_cache/
.coverage
coverage.xml

# Sistema operacional
Thumbs.db
.DS_Store